/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: var(--firstcolor);
    font-size: 62.5%;
    line-height: 1.4;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: bold;
    font-size: 4.8rem;
    text-align: center;
}

h3 {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 400;
}

h4 {
    font-size: 2.4rem;
}


/*######################################    Custom Properties    ##################################################*/

:root {
    --firstcolor: #004757;
    --secondcolor: #06AED5;
    --thirdcolor: #A9D5E2;
}

.button {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: var(--secondcolor);
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0px 4px 4px rgba(6, 174, 213, 0.25);
    border-radius: 10px;
}


/*######################################    Custom Properties end    ##############################################*/


/*######################################    Hero    ##################################################*/

.hero {
    width: 100%;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 71, 87, 0.5) 0%, #004757 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-hero {
    animation: fill 0.5s ease forwards 3s;
}

.logo-hero path {
    stroke-dasharray: 415px;
    stroke-dashoffset: 415px;
    animation: line-anim 3s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}


/*######################################    Hero end    ##################################################*/


/*######################################    Nav bar    ##################################################*/

.bar {
    background: var(--firstcolor);
    padding: 1rem;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-bar {
        flex-direction: row;
    }
}

.logo img {
    display: block;
}

.menu {
    display: block;
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    transition: all .3s ease;
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-between;
    }
    .menu a {
        display: inline-block;
        margin: 0 3rem 0 0;
        text-align: center;
        width: auto;
        padding: .3rem;
    }
}

.menu a:last-child {
    border: 2px var(--secondcolor) solid;
    color: var(--secondcolor);
    margin-right: 0;
}

.menu a:last-child:hover {
    border-color: white;
    color: white;
    margin-right: 0;
}

.menu a:hover {
    color: var(--secondcolor);
}

.contenidobasura {
    height: 500px;
}


/*######################################    Nav bar end    ##################################################*/


/*######################################    Projects    ##################################################*/

.project-description {
    background-color: var(--thirdcolor);
    margin: 0;
    padding: 2rem;
    text-align: center;
    border-radius: 0px 0px 40px 0px;
}

.project-overview {
    margin-top: 2rem;
}

.project-description p {
    text-align: start;
}

.project-description a {
    display: inline-block;
    margin: 2rem 0;
}

.img-project {
    border-radius: 40px 0px 0px 0px;
}

.img-project img {
    border-radius: 40px 0px 0px 0px;
}

@media (min-width: 768px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
    .project-overview {
        display: flex;
    }
    .img-project {
        width: 50%;
    }
    .img-project img {
        max-width: 100%;
        max-height: 40rem;
        object-fit: contain;
    }
    .project-description {
        width: 50%;
    }
}


/*######################################    Projects end    ##################################################*/


/*######################################    Hire me end    ##################################################*/

.hire-me-section {
    background-color: var(--firstcolor);
    margin-top: 2rem;
}

.hire-me {
    padding: 4rem 0;
    text-align: center;
}

.hire-me h3 {
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.benefits {
    color: var(--secondcolor);
    padding-top: 3rem;
    text-align: start;
    font-weight: bold;
}

.info-web {
    padding-bottom: 3rem;
}

.info-web h3 {
    font-weight: bold;
}

@media (min-width: 768px) {
    .info-web {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


/*######################################    Hire me end    ##################################################*/


/*######################################   About end    ##################################################*/

.about-resume {
    display: flex;
    align-items: center;
}


/*######################################   About end    ##################################################*/


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}